.idea/*
low.txt
normal.txt
high.txt
client-server.eml
client-server.iml
client-server.userlibraries
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
